<div fxLayout="column" fxlayoutAlign="center space-around" style="width: 300px;margin-left:20px;" >
    <h1>Create</h1>
    <div fxlayout="row" fxLayoutAlign="space-between center" style="width: 180px"><h3>Theme</h3> <button style="height: 30px;" mat-raised-button color="primary" (click)="openThemeDialog()">Criar</button></div>
    <div  fxlayout="row" fxLayoutAlign="space-between center" style="width: 180px"><h3>Category</h3>  <button style="height: 30px;" mat-raised-button color="primary" (click)="openCategoryDialog()">Criar</button></div>
    <div  fxlayout="row" fxLayoutAlign="space-between center" style="width: 180px"><h3>Subcategory</h3>  <button style="height: 30px;" mat-raised-button color="primary">Criar</button></div>
</div>
