
$games-color-main: #428bca;
.menu{
    width: 100%;
    height: 100%;
}

.menu__item{
    color:  var(--font-color);
    text-decoration:none;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
}

:host{
    width: 100%;
}


button:hover{
    color: black;
}


.dropdown {
    overflow: hidden;
}

.dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: var(--font-color);
    padding: 14px 16px;
    background-color: inherit;
}

.dropbtn:hover {
   color: var(--border-effects-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 160px;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content a:hover {
    border-width: 0 0 1px;
    $color: skyblue;
    color: $color;
    border-image: linear-gradient(
      90deg,
      rgba($color, 0),
      rgba($color, 1) 50%,
      rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    width: 0;
    height: 0;
    margin-left: 10px;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid var(--background-color);
    position: absolute;
    top: -9px;
}

ul {
margin: 0;
padding: 0;
list-style: none;
width: 150px;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
}

ul li {
    position: relative;
}

.subcategories {
    display: none;
}

.dropdown-content:hover .subcategories {
    display: block
}