<nav class="menu" fxLayout="row" fxLayoutAlign="center" >
    <div class="dropdown" *ngFor="let navItem of navItens">
        <button class="dropbtn">{{navItem.name}}
        </button>
        <ul class="dropdown-content">
            <li *ngFor="let category of navItem.categories" style="list-style: none;">
                <a class="menu__item" style="position: relative">{{category.name}}</a>
                <ul class="subcategories">
                    <li *ngFor="let subCategory of category.subCategories">
                        <a class="menu__item" style="position: relative">{{subCategory.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
</nav>
