.home{
    padding-top: 7%;
}

.home__list{
    width: 60%;
    height: auto;
    text-align: center;
    
}

.home__mural{
    width: 40%;
    height: auto;
    text-align: center;
    margin-right: 2%;
}

:host{
    height: 100%;
    
}

.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 345px;
    height: auto;
    justify-content: center;
    
  }

  .social-media--spacing{
    padding: 10px 10px 0 0;
    width: 40px;
    height: 40px;
  }

  .social-media--container{
    padding: 10%;
    margin-bottom: 30px;
  }

  