.home{
    padding-top: 7%;
}

.home__list{
    width: 60%;
    height: auto;
    text-align: center;
    
}

.home__mural{
    width: 40%;
    height: auto;
    text-align: center;
}

:host{
    height: 100%;
    
}

